html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#main-doc {
  background-color: red;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

#navbar {
  background-color: orange;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

#navbar > header {
  background-color: green;
  padding: 16px;
}

.nav-link {
  background-color: yellow;
  padding: 16px;
}

.main-section {
  background-color: blue;
  padding: 16px;
}

/* Tablet */
@media (min-width: 426px) and (max-width: 768px) {
  /* ... */
}

/* Laptop */
@media (min-width: 769px) {
  body {
    flex-direction: row;
  }

  #navbar {
    flex-basis: 20%;
    padding: 16px;
  }

  #main-doc {
    flex-basis: 80%;
    padding: 16px;
  }
}
